//Colors
$color-grey-light: rgba(225, 218, 218, 15);
$color-blue-light: rgba(47, 137, 196, 18);
$color-grey-dark: rgba(63, 60, 72, 67);

//Gutters and margins
$gutter-horizontal: 2rem;
$gutter-vertical: 4rem;
